.u-section-1 {background-image: url("images/hairheader.jpg")}
.u-section-1 .u-sheet-1 {min-height: 430px}
.u-section-1 .u-group-1 {min-height: 239px; background-image: none; animation-duration: 1000ms; margin: 326px auto 0 0}
.u-section-1 .u-container-layout-1 {min-height: 239px; padding: 1px 30px 0}
.u-section-1 .u-text-1 {background-image: none; width: 721px; font-size: 4.5rem; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 395px}
.u-section-1 .u-group-1 {margin-top: 60px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 27px; padding-right: 34px}
.u-section-1 .u-text-1 {position: relative} }

@media (max-width: 991px){ .u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-text-1 {font-size: 3.75rem; width: 660px} }

@media (max-width: 767px){ .u-section-1 .u-container-layout-1 {padding-left: 14px; padding-right: 14px}
.u-section-1 .u-text-1 {font-size: 3rem; width: 512px} }

@media (max-width: 575px){ .u-section-1 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-1 .u-text-1 {width: 322px} }.u-section-2 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 649px}
.u-section-2 .u-table-1 {margin: 42px auto 60px 0}
.u-section-2 .u-table-entity-1 {min-height: 100px; height: 325px}
.u-section-2 .u-table-header-1 {font-weight: 700; background-image: none} 

@media (max-width: 1199px){ .u-section-2 .u-table-1 {margin-right: initial; margin-left: initial} }.u-section-3 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 183px}
.u-section-3 .u-image-1 {width: 277px; height: 110px; margin: 40px auto 37px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 190px} }